{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>User Authentication Example</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang User Authentication Example</h1>
{{ end }}